<h1> My Topics </h1>
<div class="row">
  <div class="col-md-8">
    <% @user.topics.each do |topic| %>
    <div class="media">
      <div class="media-body">
        <h2 class="media-heading">
          <%= link_to topic.title, topic_bookmarks_path(topic) %>
        </h2>
        <% topic.bookmarks.each do |bookmark| %>
        <div class="media">
          <div class="media-body">
            <h4 class="media-heading">
              <%= link_to bookmark.url, topic_bookmark_path(topic, bookmark) %>
            </h4>
            <small>
                submitted <%= time_ago_in_words(bookmark.created_at) %> ago <br>
              </small>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <% end %>
    <h2> Liked </h2>
      <% @users.each do |user| %>
      <% user.topics.each do |topic| %>
          <% topic.bookmarks.each do |bookmark| %>
          <div class="media">
            <div class="media-body">
              <h4 class="media-heading">
                <% if like = current_user.liked(bookmark) %>
                <%= link_to bookmark.url, topic_bookmark_path(topic, bookmark) %>
                <%= render partial: 'likes/like', locals: { bookmark: bookmark } %>
                <small>
                    submitted <%= time_ago_in_words(bookmark.created_at) %> ago <br>
                  </small>
                <% end %>
              </h4>
          <% end %>
        </div>
      </div>
      <% end %>
      <% end %>
  </div>

  <div class="col-md-4">
    <%= link_to "New Topic", new_topic_path, class: 'btn btn-success' %>
  </div>
</div>
